* {
  --light-mode-color: #FF5733; /* Define color for light mode */
  --dark-mode-color: #00f73f;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.light-mode {
  --global-color: var(--light-mode-color); /* Set global color for light mode */
}

.dark-mode {
  --global-color: var(--dark-mode-color); /* Set global color for dark mode */
}

#canvas {
  display: none;
  position: absolute; /* Use absolute or relative positioning */
  width: 100%;
  height: 100%;
  border: 4px solid black;

}

/* Default light mode styles */
body {
  background: #f5f3eb;
  color: #171717;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #171717;
  color: #f5f3eb;
}


/* topnav  */
.topnav {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
}



/* card */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  padding: 2em 2.5em;
  border-radius: 2em;
  background-color: rgba(207, 207, 207, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
}

.profile-card .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 1em;
}

.btn-box button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 1em;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.4s ease-in-out;
}

.btn-box .resume {
  background-color: var(--global-color);
  box-shadow: 0 0 var(--global-color);
  color: #171717;
}

.btn-box .resume:hover {
  background-color: transparent;
  border: 2px solid var(--global-color);
  color: var(--global-color);
  box-shadow: 0 0 25px var(--global-color),
    0 0 10px var(--global-color);
}

.btn-box .message {
  background-color: transparent;
  border: 2px solid var(--global-color);
  color: var(--global-color);
  box-shadow: 0 0 25ox var(--global-color),
    inset 0 0 10px var(--global-color);
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 1.5em;
}

.info h2{
  font-size: large;
  font-weight: bold;
}

.info p {
  color: var(--global-color);
}

.info-box .icons {
  margin: 20px 0;
}

.info-box .icons i {
  font-size: 1em;
  padding: 1px;
}


.profile-card img {
  width: 150px;
  border-radius: 50%;
  border: 3px solid var(--global-color);
  box-shadow: 0 0 25px var(--global-color);
  cursor: pointer;
  transition: 0.3 ease;
}

.profile-card img-hover {
  box-shadow: 0 0 25px var(--global-color),
    0 0 25px var(--global-color),
    0 0 100px var(--global-color);
}





.card .icon {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card a:hover {
  color: var(--global-color);
}